/* Variables */

:root {
    --clr-blue: #0065FC;
    --clr-light-blue:#DEEBFF;
    --clr-grey: #F2F2F2;
    --clr-black: #000;
    --clr-white: #fff;
    --fw-black: 900;
    --fw-bold: 700;
    --border-radius: 10px;
    --btn-radius: 30px;
    --footer-padding: 20px;
    --font-size-footer: 10px;
    --font-size-nav: 12px;
    --transition: all 0.7s ease-in-out;
}

/* Global Styles */

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    text-align: left;
}
body::first-letter {
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    font-weight: var(--fw-bold);
    text-transform: capitalize;
}
h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: var(--clr-black);
}

li::first-letter {
    text-transform: uppercase;
}

header, section, main {
    width: 90%;
    margin: 0 auto;
}

/* Header Rules */
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 10;
    background-color: var(--clr-white);
}
.header a {
    margin: auto 0;
}
.header__img {
    width: 64px;
    height: 30px;
}
.nav {
    width: 200px;
    /* margin: auto 0; */
}
.nav ul {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size-nav);
}
.nav__item {
    border-top: 3px solid transparent;
    width: 85px;
    padding-top: 15px;
    text-align: center;
    transition: var(--transition);
}

.nav__item:hover {
    border-top: 3px solid var(--clr-blue);
}
.nav__item a:hover {
    color: var(--clr-blue);
}


/* Footer Rules */

.footer {
    background-color: var(--clr-grey);
    display: flex;
    padding: var(--footer-padding);
}

.footer__block {
    width: 32%;
}
.footer li {
    font-size: var(--font-size-footer);
}